<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Hospital" />
            <deny roles="Customers" />
            <deny roles="Funders" />
            <deny users="?" />
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>